person.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://ivoronline.com/soap"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ivoronline.com/soap"
                  targetNamespace="http://ivoronline.com/soap">

  <wsdl:types>

    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
               targetNamespace="http://ivoronline.com/soap">

      <!--  CLASS getPersonRequest  -->
      <xs:element name="getPersonRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!--  CLASS getPersonResponse  -->
      <xs:element name="getPersonResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xs:schema>

  </wsdl:types>

  <wsdl:message name="getPersonResponse">
    <wsdl:part element="tns:getPersonResponse" name="getPersonResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="getPersonRequest">
    <wsdl:part element="tns:getPersonRequest" name="getPersonRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:portType name="PersonPort">
    <wsdl:operation name="getPerson">
      <wsdl:input message="tns:getPersonRequest" name="getPersonRequest"></wsdl:input>
      <wsdl:output message="tns:getPersonResponse" name="getPersonResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="PersonPortSoap11" type="tns:PersonPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPerson">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPersonRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="PersonPortService">
    <wsdl:port binding="tns:PersonPortSoap11" name="PersonPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>